<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/js/themes/metro/jtable_metro_base.css" th:href="@{/js/themes/metro/jtable_metro_base.css}"/>
    <link rel="stylesheet" href="/js/themes/metro/blue/jtable.min.css" th:href="@{/js/themes/metro/blue/jtable.min.css}"/>
    <link rel="stylesheet" href="/js/jquery-ui.css" th:href="@{/js/jquery-ui.css}"/>
    <link rel="stylesheet" href="/js/jquery-ui.structure.css" th:href="@{/js/jquery-ui.structure.css}"/>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css" th:href="@{/css/bootstrap.css}"/>
    <script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
    <script src="/js/jquery.jtable.js" th:src="@{/js/jquery.jtable.js}"></script>
    <script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/js/moment.js" th:src="@{/js/moment.js}"></script>
</head>
</html>